.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    margin-left: 80px;
    border-right:2px solid lightgray ;
}
.order-container{
    margin-left: 10px;
}
.input-field{
    background-color: #161414;
    line-height: 50px;
    text-align: center;
}
.input-field input{
    width: 75%;
    line-height: 20px;
}